In [34]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Edward', 'Fiona', 'George', 'Hannah', 'Ian', 'Julia'],
    'Age': [25, 30, 35, 40, 45, 50, 55, 60, 65, 70],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix', 'Philadelphia', 'San Antonio', 'San Diego', 'Dallas', 'San Jose'],
    'Salary': [70000, 80000, 65000, 90000, 85000, 75000, 72000, 78000, 69000, 71000],
    'Department': ['HR', 'IT', 'IT', 'Marketing', 'Sales', 'HR', 'IT', 'Marketing', 'Sales', 'HR']
}

df = pd.DataFrame(data)
print(df)

      Name  Age          City  Salary Department
0    Alice   25      New York   70000         HR
1      Bob   30   Los Angeles   80000         IT
2  Charlie   35       Chicago   65000         IT
3    Diana   40       Houston   90000  Marketing
4   Edward   45       Phoenix   85000      Sales
5    Fiona   50  Philadelphia   75000         HR
6   George   55   San Antonio   72000         IT
7   Hannah   60     San Diego   78000  Marketing
8      Ian   65        Dallas   69000      Sales
9    Julia   70      San Jose   71000         HR

In [35]:
print(df.loc[[0, 4, 7, 8]])

     Name  Age       City  Salary Department
0   Alice   25   New York   70000         HR
4  Edward   45    Phoenix   85000      Sales
7  Hannah   60  San Diego   78000  Marketing
8     Ian   65     Dallas   69000      Sales

In [36]:
print(df.loc[3:7])

     Name  Age          City  Salary Department
3   Diana   40       Houston   90000  Marketing
4  Edward   45       Phoenix   85000      Sales
5   Fiona   50  Philadelphia   75000         HR
6  George   55   San Antonio   72000         IT
7  Hannah   60     San Diego   78000  Marketing

In [37]:
print(df.iloc[4:9, 2:5])

           City  Salary Department
4       Phoenix   85000      Sales
5  Philadelphia   75000         HR
6   San Antonio   72000         IT
7     San Diego   78000  Marketing
8        Dallas   69000      Sales

In [38]:
print(df.iloc[:, 1:4])

   Age          City  Salary
0   25      New York   70000
1   30   Los Angeles   80000
2   35       Chicago   65000
3   40       Houston   90000
4   45       Phoenix   85000
5   50  Philadelphia   75000
6   55   San Antonio   72000
7   60     San Diego   78000
8   65        Dallas   69000
9   70      San Jose   71000

In [42]:
from google.colab import files
uploaded = files.upload()

Saving Iris.csv to Iris.csv

In [43]:
import pandas as pd
import io

iris_df = pd.read_csv(io.BytesIO(uploaded['Iris.csv']))
print(iris_df.head())

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [44]:
iris_df = iris_df.drop(4)
iris_df = iris_df.drop(iris_df.columns[3], axis=1)
print(iris_df.head())

   Id  SepalLengthCm  SepalWidthCm  PetalWidthCm      Species
0   1            5.1           3.5           0.2  Iris-setosa
1   2            4.9           3.0           0.2  Iris-setosa
2   3            4.7           3.2           0.2  Iris-setosa
3   4            4.6           3.1           0.2  Iris-setosa
5   6            5.4           3.9           0.4  Iris-setosa

In [45]:
emp_data = {
    'Employee_ID': [101, 102, 103, 104, 105],
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Edward'],
    'Department': ['HR', 'IT', 'IT', 'Marketing', 'Sales'],
    'Age': [29, 34, 41, 28, 38],
    'Salary': [50000, 70000, 65000, 55000, 60000],
    'Years_of_Experience': [4, 8, 10, 3, 12],
    'Joining_Date': ['2020-03-15', '2017-07-19', '2013-06-01', '2021-02-10', '2010-11-25'],
    'Gender': ['Female', 'Male', 'Male', 'Female', 'Male'],
    'Bonus': [5000, 7000, 6000, 4500, 5000],
    'Rating': [4.5, 4.0, 3.8, 4.7, 3.5]
}

emp_df = pd.DataFrame(emp_data)
emp_df['Joining_Date'] = pd.to_datetime(emp_df['Joining_Date'])

In [47]:
print(emp_df.shape)

(5, 10)

In [48]:
print(emp_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Employee_ID          5 non-null      int64
 1   Name                 5 non-null      object
 2   Department           5 non-null      object
 3   Age                  5 non-null      int64
 4   Salary               5 non-null      int64
 5   Years_of_Experience  5 non-null      int64
 6   Joining_Date         5 non-null      datetime64[ns]
 7   Gender               5 non-null      object
 8   Bonus                5 non-null      int64
 9   Rating               5 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(5), object(3)
memory usage: 532.0+ bytes
None

In [49]:
print(emp_df.describe(include='all'))

        Employee_ID   Name Department        Age       Salary  \
count      5.000000      5          5   5.000000      5.00000
unique          NaN      5          4        NaN          NaN
top             NaN  Alice         IT        NaN          NaN
freq            NaN      1          2        NaN          NaN
mean     103.000000    NaN        NaN  34.000000  60000.00000
min      101.000000    NaN        NaN  28.000000  50000.00000
25%      102.000000    NaN        NaN  29.000000  55000.00000
50%      103.000000    NaN        NaN  34.000000  60000.00000
75%      104.000000    NaN        NaN  38.000000  65000.00000
max      105.000000    NaN        NaN  41.000000  70000.00000
std        1.581139    NaN        NaN   5.612486   7905.69415

        Years_of_Experience         Joining_Date Gender   Bonus    Rating
count              5.000000                    5      5     5.0  5.000000
unique                  NaN                  NaN      2     NaN       NaN
top                     NaN                  NaN   Male     NaN       NaN
freq                    NaN                  NaN      3     NaN       NaN
mean               7.400000  2016-08-20 00:00:00    NaN  5500.0  4.100000
min                3.000000  2010-11-25 00:00:00    NaN  4500.0  3.500000
25%                4.000000  2013-06-01 00:00:00    NaN  5000.0  3.800000
50%                8.000000  2017-07-19 00:00:00    NaN  5000.0  4.000000
75%               10.000000  2020-03-15 00:00:00    NaN  6000.0  4.500000
max               12.000000  2021-02-10 00:00:00    NaN  7000.0  4.700000
std                3.847077                  NaN    NaN  1000.0  0.494975

In [50]:
print(emp_df.head())
print(emp_df.tail(3))

   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
0          101    Alice         HR   29   50000                    4
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
0   2020-03-15  Female   5000     4.5
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   5000     3.5
   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   5000     3.5

In [53]:
avg_salary = emp_df['Salary'].mean()
total_bonus = emp_df['Bonus'].sum()
youngest_age = emp_df['Age'].min()
highest_rating = emp_df['Rating'].max()

print(f"Average Salary: {avg_salary}")
print(f"Total Bonus Paid: {total_bonus}")
print(f"Youngest Age: {youngest_age}")
print(f"Highest Rating: {highest_rating}")

Average Salary: 60000.0
Total Bonus Paid: 27500
Youngest Age: 28
Highest Rating: 4.7

In [54]:
sorted_df = emp_df.sort_values(by='Salary', ascending=False)
print(sorted_df)

   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
4          105   Edward      Sales   38   60000                   12
3          104    Diana  Marketing   28   55000                    3
0          101    Alice         HR   29   50000                    4

  Joining_Date  Gender  Bonus  Rating
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
4   2010-11-25    Male   5000     3.5
3   2021-02-10  Female   4500     4.7
0   2020-03-15  Female   5000     4.5

In [55]:
def performance_cat(rating):
    if rating >= 4.5:
        return 'Excellent'
    elif rating >= 4.0:
        return 'Good'
    else:
        return 'Average'

emp_df['Performance_Category'] = emp_df['Rating'].apply(performance_cat)
print(emp_df[['Name', 'Rating', 'Performance_Category']])

      Name  Rating Performance_Category
0    Alice     4.5            Excellent
1      Bob     4.0                 Good
2  Charlie     3.8              Average
3    Diana     4.7            Excellent
4   Edward     3.5              Average

In [56]:
print(emp_df.isnull().sum())

Employee_ID             0
Name                    0
Department              0
Age                     0
Salary                  0
Years_of_Experience     0
Joining_Date            0
Gender                  0
Bonus                   0
Rating                  0
Performance_Category    0
dtype: int64

In [57]:
emp_df.rename(columns={'Employee_ID': 'ID'}, inplace=True)
print(emp_df.columns)

Index(['ID', 'Name', 'Department', 'Age', 'Salary', 'Years_of_Experience',
       'Joining_Date', 'Gender', 'Bonus', 'Rating', 'Performance_Category'],
      dtype='object')

In [58]:
exp_gt_5 = emp_df[emp_df['Years_of_Experience'] > 5]
print(exp_gt_5)

    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01
4  105   Edward      Sales   38   60000                   12   2010-11-25

  Gender  Bonus  Rating Performance_Category
1   Male   7000     4.0                 Good
2   Male   6000     3.8              Average
4   Male   5000     3.5              Average

In [59]:
it_dept = emp_df[emp_df['Department'] == 'IT']
print(it_dept)

    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01

  Gender  Bonus  Rating Performance_Category
1   Male   7000     4.0                 Good
2   Male   6000     3.8              Average

In [60]:
emp_df['Tax'] = emp_df['Salary'] * 0.10
print(emp_df[['Name', 'Salary', 'Tax']])

      Name  Salary     Tax
0    Alice   50000  5000.0
1      Bob   70000  7000.0
2  Charlie   65000  6500.0
3    Diana   55000  5500.0
4   Edward   60000  6000.0

In [61]:
emp_df.to_csv('employees_modified.csv', index=False)
print("File saved as employees_modified.csv")

File saved as employees_modified.csv